
.intro {
  background-image: url(../images/logoBig.png);
  background-size: cover;
  width: 70%;
  height: 620px;
  text-align: right;

}
nav {
  margin: o auto;
  padding: 0.1%;margin-right: 0;

}
nav>ul {
  text-align: center;

}
#home{
  margin-top: 100px;
}
.column {
  width: 33%;
  padding: 10px;
  height: auto;
}
.row {

  display: flex;
}
.copyright {
  text-align: center;
}

  body {
      background-color:#F15A29;
  }